<%= form_with(model: everything) do |form| %>
  <% if everything.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(everything.errors.count, "error") %> prohibited this everything from being saved:</h2>

      <ul>
        <% everything.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
